/**
 * documentManager App
 * built by Bisoye
 * Andela traininng checkpoint 4
 */

.main {
  background-color: #eeeeee;
  height: 100%;
  top: 0;
  bottom: 0;
}

md-content {
  background-color: #eeeeee;
}

.brand-logo {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.nav-button {
  font-family: "Roboto";
  font-weight: bold;
}

.login {
  color: #0288d1 !important;
  margin-left: 10px;
  border: solid !important;
  border-color: #0288d1 !important;
  border-width: 2px !important;
}

.signup {
  color: #ffffff !important;
  margin-right: 10px;
  background-color: #0288d1 !important;
}

nav {
  position: fixed;
  top: 0;
}

nav ul li .highlight:hover {
  background-color: none !important;
}

nav ul li .highlight:active {
  background-color: none !important;
}

.main-intro {
  text-align: center;
  margin: auto;
  width: 85%;
  padding-bottom: 200px;
  padding-top: 150px;
  background-image: url('../images/paper-stack-2.jpg');
  background-size: 100%;
}

.about {
  height: 100%;
  background-color: #ffffff;
  text-align: center;
  margin: auto;
  margin-top: 10px !important;
  width: 85%;
  padding-top: 40px;
  padding-bottom: 100px;
}

.intro-text {
  color: #0288d1;
  display: inline-block;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.detail {
  display: inline-block !important;
  padding-right: 20px !important;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards {
  padding-top: 30px;
  margin: auto !important;
}

.doc-cards {
  bottom: 0;
  margin: auto !important;
  margin-bottom: 20px !important;
  width: 75% !important;
  border: solid !important;
  border-color: #0288d1 !important;
  border-width: 2px !important;
}

.docs {
  border: solid !important;
  border-color: #0288d1 !important;
  border-width: 2px !important;
  width: 80% !important;
  margin: auto !important;
  padding-top: 20px;
}

.chips {
  color: #606060;
  margin-left: 17% !important;
}

.signup-form {
  width: 60%;
  margin: auto;
  border: solid;
  border-color: #0288d1;
  border-width: 2px;
  padding-top: 5px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 20px !important;
}

.login-form {
  width: 50%;
  margin: auto !important;
  border: solid !important;
  border-color: #0288d1 !important;
  border-width: 2px !important;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 40px !important;
}

.input-field label {
  color: #0288d1;
}

.cancel {
  background-color: transparent;
  font-color: #0288d1;
}

.center {
  margin: auto;
}

.card {
  color: #ffffff;
  background-color: #0288d1;
}

.title {
  color: #0288d1;
  font-weight: bold;
}

.heading {
  color: #0288d1 !important;
}

.profile {
  font-style: inherit;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
}

.edit-buttons {
  margin-left: 30% !important;
}

.head {
  color: #000000;
}

/*style for mobile devices*/
@media only screen and (min-width: 320px) and (max-width: 550px) {
  .edit-buttons {
    margin-left: 17% !important;
  }
  .cards {
    padding-top: 30px;
    width: 100%;
  }
  .card {
    width: 100% !important;
  }
  .head {
    color: #000000;
    font-size: 45px;
    width: 75% !important;
    position: relative;
    margin: 10%;
  }
  .main-intro {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .about {
    text-align: center;
    margin: auto;
    width: 100%;
  }
  .signup-form {
    width: 90%;
  }
  .login-form {
    width: 80% !important;
  }
  .tool {
    height: 20% !important;
    padding-bottom: 10%;
  }

}
