<div id="about" class="about container white">
  <div>
    <h5 class="detail grey-text text-darken-2">
		docManager is an app that enable you to create, store and share
		documents with friends an family. It provides a platform to share
		thoughts, plan, idea and any other information with people and also
		gets feedback that can be very beneficial on your writeups.
	</h5>
    <div class="divider"></div>
    <div class="row cards">
      <div class="col s4">
        <div class="card z-depth-1 light-blue">
          <div class="card-content white-text">
            <span class="card-title"><i class = "material-icons large">note_add</i><br>
            Create Documents</span>
            <hr>
            <p>Create simple documents on topics that are of utmost concern to you you can also edit and update documents</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card z-depth-1 light-blue">
          <div class="card-content white-text">
            <span class="card-title"><i class = "material-icons large">group_add</i><br>
            Share Documents</span>
            <hr>
            <p>Saved documents can be viewed by all users, hence you are sharing your thoughts with everyone. They can also give you their opinion on ideas, and issues</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card z-depth-1 light-blue">
          <div class="card-content white-text">
            <span class="card-title"><i class = "material-icons large">chrome_reader_mode</i><br>
            View Everyone's Documents</span>
            <hr>
            <p>You have access to tons of documents created by others, its an easy way to learn, discover and gain inspiration</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
