<md-content class="about">
  <div layout="column" class="docs md-padding md-whiteframe-1dp" data-ng-init="getAllDocuments()">
    <h5 class="heading md-headline">All Documents</h5>
    <md-divider style="margin-bottom: 10px"></md-divider>
    <div ng-repeat="doc in Documents">
      <md-card class="md-primary doc-cards md-whiteframe-1dp">
        <md-card-content class="heading">
        <!-- populate cards with documents -->
          <span class="md-title">{{doc.title}}</span>
          <span ng-bind="docId" ng-hide="true">{{doc._id}}</span>
          <hr>
          <p>{{doc.content}}</p>
          <md-list layout="row" class ="chips" layout-wrap>
            <md-list-item >
              <div class=" md-list-item-text compact">
                <p>Date created:
                  <br>{{doc.dateCreated | date: DD/MM/YYYY}}</p>
              </div>
            </md-list-item>
            <md-list-item >
              <div class="md-list-item-text compact">
                <p>Last modified:
                  <br>{{doc.lastModified | date: DD/MM/YYYY}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
