<md-content class="about">
  <div layout="column" class="md-whiteframe-1dp signup-form" data-ng-init="getAllDocuments()">
    <h5 class="heading md-headline">All Documents</h5>
    <md-divider style="margin-bottom: 10px"></md-divider>
    <div class="docs" ng-repeat="doc in Documents">
      <md-card class="md-primary doc-cards md-whiteframe-1dp">
        <md-card-content class="heading">
          <span class="md-title">{{doc.title}}</span>
          <span ng-bind="doc._id" ng-hide="true"></span>
          <hr>
          <p>{{doc.content}}</p>
          <md-chips style="font-face: bold;">
            <md-chip>Date created: {{doc.dateCreated | date: DD/MM/YYYY}}</md-chip>
            <md-chip>Last modified: {{doc.lastModified | date: DD/MM/YYYY}}</md-chip>
          </md-chips>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
