<div class="about">
  <div layout="column" class="md-whiteframe-z3 signup-form">
    <h5 class="heading md-headline">Sign Up</h5>
    <md-divider style="margin-bottom: 10px"></md-divider>
    <md-input-container flex>
      <ng-md-icon icon="account_circle" style="fill: #0288d1;"></ng-md-icon>
      <input class="heading" ng-model="username" type="text" placeholder="Username" ng-required="true">
    </md-input-container>
    <md-input-container flex>
      <ng-md-icon icon="vpn_key" style="fill: #0288d1;"></ng-md-icon>
      <input class="heading" ng-model="password" type="password" placeholder="Password" ng-required="true">
    </md-input-container>
    <div class="row center s6 ">
      <a href="/">
        <md-button class="login">
          Cancel
        </md-button style: "fill: light-blue;">
      </a>
      <md-button type="submit" ng-click="signin()" class="signup">Log in
        <ng-md-icon icon="send" style="fill: #ffffff;"></ng-md-icon>
      </md-button>
    </div>
  </div>
  <div>
    <p class="heading">Don't have an account?</p>
    <a href="/signup">
      <md-button class="login">Register Here</md-button>
    </a>
  </div>
</div>