<md-content>
  <md-toolbar layout="row" class=" md-primary-2 md-whiteframe-z2">
    <div class="md-toolbar-tools">
      <h2>
      <a href="/"><span class = "title">docManager</span></a>
        </h2>
      <span flex></span>
      <a href="/">
        <md-button class="heading">
          Home
        </md-button>
      </a>
      <a href="#about">
        <md-button class="heading">
          About
        </md-button>
      </a>
      <a href="/signup">
        <md-button class="signup cancel">
          Sign up
        </md-button>
      </a>
      <a href="/login">
        <md-button class="login cancel">
          Log in
        </md-button>
      </a>
    </div>
  </md-toolbar>
  <div ui-view="homeView"></div>
  <md-content>
