<md-toolbar layout="row" class=" md-primary-2 md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <h2>
      <a href="/"><span class = "title">docManager</span></a>
        </h2>
    <span flex></span>
    <a href="/">
      <md-button>
        Home
      </md-button>
    </a>
    <a href="#about">
      <md-button>
        About
      </md-button>
    </a>
    <a href="/signup">
      <md-button class="signup">
        Sign up
      </md-button>
    </a>
    <a href="/login">
      <md-button class="login">
        Log in
      </md-button>
    </a>
  </div>
</md-toolbar>
<div ui-view="userView"></div>
<div ui-view="docView"></div>
<!-- <nav>
  <div class="nav-wrapper white lighten">
    <a href="/home" class="brand-logo white light-blue-text text-accent">docMANAGER</a>
    <ul class="right hide-on-med-and-down">
      <li class="">
        <a class="grey-text text-darken-2 btn-flat" href="/home">Home</a>
      </li>
      <li class="">
        <a class=" grey-text text-darken-2 btn-flat" href="#about">About</a>
      </li>
      <li>
        <a class="signup waves-effect white-text text-accent btn-flat" href="/signup">Sign up</a>
      </li>
      <li>
        <a class=" login waves-effect grey-text text-darken-2 btn-flat" href="/login">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<div ui-view="theView"></div>
<div ui-view="aboutView"></div>
 -->
