<md-content class="about">
  <div layout="column" class="md-whiteframe-1dp signup-form" data-ng-init="getAllUserDocuments()">
    <h5 class="heading md-headline">My Documents</h5>
    <md-divider style="margin-bottom: 10px"></md-divider>
    <div ng-hide="editDoc"></div>
    <div class="docs" ng-repeat="doc in userDocuments">
      <span ng-bind="doc._id" ng-hide="true"></span>
      <md-card class="md-primary doc-cards md-whiteframe-1dp">
        <md-card-content class="heading">
          <span class="md-title">{{doc.title}}</span>
          <hr>
          <p>{{doc.content}}</p>
          <md-list layout="row">
            <md-list-item class="chips">
              <div class=" md-list-item-text compact">
                <p>Date created:
                  <br>{{doc.dateCreated | date: DD/MM/YYYY}}</p>
              </div>
            </md-list-item>
            <md-list-item class="chips">
              <div class="md-list-item-text compact">
                <p>Last modified:
                  <br>{{doc.lastModified | date: DD/MM/YYYY}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>
        <div class="center" layout="row">
          <md-button ng-click="deleteDocument(doc._id)" class="login">
            Delete
            <ng-md-icon icon="delete" style="fill: #0288d1;"></ng-md-icon>
          </md-button>
          <md-button type="submit" ng-click="editDoc = true" class="login">Edit
            <ng-md-icon icon="edit" style="fill: #0288d1;"></ng-md-icon>
          </md-button>
        </div>
      </md-card>
      <div class="doc-cards" ng-show="editDoc">
        <h5 class="heading">Edit</h5>
        <md-divider style="margin-bottom: 10px"></md-divider>
        <md-input-container flex>
          <label>Title</label>
          <input class="heading" ng-model="doc.title" type="text">
        </md-input-container>
        <md-input-container flex>
          <label>Content</label>
          <textarea class="heading" columns="1" ng-model="doc.content"></textarea>
        </md-input-container>
        <div class="edit-buttons" layout="row">
          <md-button ng-click="editDoc = false" class="login">
            Cancel
          </md-button>
          <md-button type="submit" ng-click="editDocument(doc._id); editDoc = false" class="login">Edit
            <ng-md-icon icon="send" style="fill: #0288d1;"></ng-md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</md-content>
